<footer class="footer" id="element4">
    <div class="container">
        <h2 class="footer__title title">Наши <span>контакты</span></h2>
        <div class="footer__inner">
            <div class="footer__content">
                <h3 class="footer__subtitle">Мы находимся тут. </h3>
                <p class="footer__address">
                    Россия, Москва, 117997, <br> ул. Вавилова, д. 19 <br> +7 (495) 500 5550, <br> 8 800 555 5550.
                </p>
            </div>
            <form class="footer__form" id="form">
                <h3 class="footer__form-title">Остались вопросы?</h3>
                <p class="footer__form-text">Имя</p>
                <input class="footer__form-input" type="text" placeholder="Ваше имя">
                <p class="footer__form-text">Номер телефона</p>
                <input class="footer__form-input footer__form-input_phone" type="text"
                    placeholder="На самом деле нам не нужен ваш номер телефона, но если вы настаиваете... :)">
                <p class="footer__form-text">E-mail</p>
                <input class="footer__form-input" type="text" placeholder="Мы никому не скажем">
                <p class="footer__form-text">Сообщение</p>
                <textarea class="footer__form-textarea" placeholder="Ваше сообщение"></textarea>
                <button class="footer__form-btn button" type="submit">отправить сообщение</button>
            </form>
        </div>
    </div>
    <div class="footer__map">
    </div>
</footer>
<script type="text/javascript" charset="utf-8" src="jquery.min.js"></script>
<script src="common.js"></script>
</body>

</html>