<footer class="footer" id="element4">
    <div class="container">
        <h2 class="footer__title title">Наши <span>контакты</span></h2>
        <div class="footer__inner">
            <div class="footer__content">
                <h3 class="footer__subtitle">Мы находимся тут. </h3>
                <p class="footer__address">
                    Россия, Москва, 117997, <br> ул. Вавилова, д. 19 <br> +7 (495) 500 5550, <br> 8 800 555 5550.
                </p>
            </div>
            <form class="footer__form" id="form">
                <h3 class="footer__form-title">Остались вопросы?</h3>
                <p class="footer__form-text">Имя</p>
                <input class="footer__form-input" type="text" placeholder="Ваше имя">
                <p class="footer__form-text">Номер телефона</p>
                <input class="footer__form-input footer__form-input_phone" type="text"
                    placeholder="На самом деле нам не нужен ваш номер телефона, но если вы настаиваете... :)">
                <p class="footer__form-text">E-mail</p>
                <input class="footer__form-input" type="text" placeholder="Мы никому не скажем">
                <p class="footer__form-text">Сообщение</p>
                <textarea class="footer__form-textarea" placeholder="Ваше сообщение"></textarea>
                <button class="footer__form-btn button" type="submit">отправить сообщение</button>
            </form>
        </div>
    </div>
    <div class="footer__map">
    </div>
    <div class="iframe-resizer"><iframe
            sandbox="allow-forms allow-scripts allow-same-origin allow-popups allow-top-navigation"
            allow="payment 'none'; fullscreen 'none'; geolocation 'none'; camera 'none'; microphone 'none'"
            importance="high" referrerpolicy="no-referrer-when-downgrade" frameborder="no" scrolling="no"
            title="Основной контент" width="100%" style="overflow: hidden; min-height: 300px;"
            src="https://player.cdn.sber.cloud/aloha/players/basic_player_sbercloud1.html?account=kunuqupo80&amp;source=//sber-hls.cdnvideo.ru/sber-vod/_definst_/mp4:/common/video/hljlhnzmeky.mp4/playlist.m3u8"
            id="iFrameResizer1"></iframe></div>
</footer>
<script type="text/javascript" charset="utf-8" src="jquery.min.js"></script>
<script src="common.js"></script>
</body>

</html>