<section class="feedback">
    <div class="container">

        <h2 class="feedback__title title">
            <span>Часто задаваемые</span> вопросы
        </h2>
        <div class="feedback__blocks">
            <div class="feedback__block">
                <h4 class="feedback__block-title">Как правильно инвестировать деньги в акции?</h4>
                <div class="feedback__block-content">
                    <div class="feedback__block-inner">
                        <h5 class="feedback__block-subtitle">Сформируйте сбалансированный портфель акций</h5>
                        <ul class="feedback__block-list">
                            Параметры сбалансированного портфеля.
                            <li class="feedback__block-item">
                                Акции соответствуют выбранной цели и стратегии. Если портфель ориентирован на получение
                                стабильных дивидендов, акции роста в нём будут лишними.
                            </li>
                            <li class="feedback__block-item">Соблюдается диверсификация. В составе портфеля присутствуют
                                представители разных секторов экономики из нескольких стран.
                            </li>
                            <li class="feedback__block-item"> Выбор акций фундаментально обоснован. Нет спонтанных
                                приобретений: перед покупкой бумаг каждая компания была проанализирована на предмет
                                устойчивого финансового состояния.
                            </li>
                            <li class="feedback__block-item">Акции ликвидны и отличаются низкой волатильностью. Такой
                                подход
                                поможет снизить рыночный риск и риск ликвидности.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="feedback__block">
                <h4 class="feedback__block-title">С какой суммы начать инвестировать в акции?</h4>
                <div class="feedback__block-content">
                    <div class="feedback__block-inner">
                        <h5 class="feedback__block-subtitle">Для старта не нужно миллионных вложений</h5>
                        <div class="feedback__block-info">
                            <h6 class="feedback__block-subtitle2">Для начала торговли приемлемая сумма от 30 тысяч
                                рублей.
                            </h6>
                            ПИФы начинаются от пяти тысяч рублей, их пополнение — от тысячи. Для покупки акций
                            достаточно и
                            вовсе
                            пары тысяч рублей.
                            Понятно, что для большей отдачи нужны хорошие вложения. Однако сразу входить в новую отрасль
                            с
                            крупной
                            суммой слишком рискованно — можно потерять все средства. Оптимальной для начала торговли
                            станет
                            сумма от
                            30 тысяч рублей — баснословных денег она не принесёт, но вникнуть на практике в нюансы
                            поведения
                            на
                            рынке вполне позволит и даст почувствовать вкус первых побед.
                            Размещая небольшие суммы в разные инструменты, через некоторое время легко выделить наиболее
                            удобные
                            варианты и проанализировать ошибки. После этого можно наращивать объёмы инвестиций.
                        </div>
                    </div>
                </div>
            </div>
            <div class="feedback__block">
                <h4 class="feedback__block-title">Как можно распределить активы, чтобы получить здоровый портфель?</h4>
                <div class="feedback__block-content">
                    <div class="feedback__block-inner">
                        <h5 class="feedback__block-subtitle">Желательно придерживаться правил</h5>
                        <div class="feedback__block-info">
                            <h6 class="feedback__block-subtitle2"> Инвестируйте в разные рынки и страны.</h6>
                            <p class="feedback__block-text">
                                Экономики государств подразделяются на развитые и
                                развивающиеся.
                                Первые более стабильны, но инвестиции в них отличаются невысокой доходностью. Вторые
                                могут
                                принести
                                большую прибыль, но станут более рискованным видом вложений. Примеры развитых стран —
                                США и
                                Канада,
                                развивающихся — Россия, Индия, Китай.
                            </p>
                            <h6 class="feedback__block-subtitle2"> Выбирайте разные секторы экономики.</h6>
                            <p class="feedback__block-text">
                                Компании из разных отраслей по-разному ведут себя при
                                изменении
                                состояния экономики. Диверсификация по отраслям помогает минимизировать риски: когда
                                одна из
                                них
                                просядет, рост другой сможет компенсировать снижение.
                            </p>
                            <h6 class="feedback__block-subtitle2"> Покупайте акции разных компаний.</h6>
                            <p class="feedback__block-text">
                                Вкладывать все деньги или основную их часть в ценные бумаги
                                одного-двух
                                эмитентов рискованно. Портфель окажется более сбалансированным, если в нём будут
                                присутствовать
                                акции
                                представителей каждого сектора экономики, при этом доля одной компании не превысит
                                5–10%.
                                Подходящая
                                альтернатива покупке бумаг отдельных эмитентов — паи ETF, которые можно считать
                                диверсифицированным
                                активом.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="feedback__block">
                <h4 class="feedback__block-title">Какие есть способы управления капиталом?</h4>
                <div class="feedback__block-content">
                    <div class="feedback__block-inner">
                        <h5 class="feedback__block-subtitle">Два варианта</h5>
                        <div class="feedback__block-info">
                            <h6 class="feedback__block-subtitle2"> Доверительное управление (ДУ).</h6>
                            <p class="feedback__block-text">
                                Вы заключаете договор с управляющей компанией, специалисты
                                которой следят
                                за рынком, выбирают ценные бумаги и совершают сделки за вас. За их работу придётся
                                платить
                                комиссию, но
                                при этом не потребуется вникать в особенности фондового рынка.
                            </p>
                            <h6 class="feedback__block-subtitle2"> Самостоятельные вложения.</h6>
                            <p class="feedback__block-text">
                                Вы выбираете стратегию и бумаги, определяете степень риска и
                                совершаете
                                сделки. Минус — временные затраты. Плюс — контроль над ситуацией и экономия на
                                комиссиях.
                                Если вы решили инвестировать самостоятельно, то вы можете:
                                выбирать отдельные акции;
                                покупать ETF или БПИФ.
                                ETF (exchange-traded fund) — это специальные фонды. Они приобретают много различных
                                активов
                                (ценных
                                бумаг и других финансовых инструментов) и разделяют их на части — паи или акции, а затем
                                продают
                                на
                                бирже. Если вы покупаете пай ETF, то становитесь владельцем сразу всех активов, которые
                                входят в
                                состав
                                фонда, пропорционально доле этого пая. Биржевой паевой инвестиционный фонд (БПИФ) —
                                российский
                                аналог
                                ETF.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="feedback__block">
                <h4 class="feedback__block-title">Какие существуют инвестиционные стратегии?</h4>
                <div class="feedback__block-content">
                    <div class="feedback__block-inner">
                        <h5 class="feedback__block-subtitle">Три общеизвестных варианта</h5>
                        <div class="feedback__block-info">
                            <h6 class="feedback__block-subtitle2"> Дивидендная стратегия. </h6>
                            <p class="feedback__block-text">
                                Её суть заключается в том, чтобы покупать ценные бумаги, по которым компания регулярно
                                выплачивает часть прибыли своим акционерам. Инвестирование в дивидендные
                                акции подходит тем, кто хочет обеспечить себе пассивный доход. Как правило, основной
                                риск
                                подобной стратегии заключается в том, что компания может перестать выплачивать дивиденды
                                или
                                снизить их размер. При поиске подходящих ценных бумаг важно оценить уровень долга
                                компании и
                                понять, хватает ли эмитенту прибыли на выплаты акционерам.
                            </p>
                            <p class="feedback__block-text">
                            <h6 class="feedback__block-subtitle2">Стоимостная стратегия.</h6>
                            Эта стратегия подразумевает поиск бумаг перспективных компаний,
                            которые при этом недооценены рынком — то есть стоят дешевле, чем могли бы. Это значит, в
                            будущем стоимость таких акций может вырасти и принести прибыль за счёт курсовой разницы.
                            Подобный подход потребует фундаментального анализа показателей компаний, потому что
                            необходимо определить причину низких котировок бумаг. Может оказаться, что низкая цена
                            обусловлена высоким уровнем долга или неактуальным для потребителей товаром, на который нет
                            спроса.
                            </p>
                            <p class="feedback__block-text">
                            <h6 class="feedback__block-subtitle2"> Вложение в акции роста. </h6>
                            Вы вкладываете деньги в перспективные компании, которые могут
                            принести существенную прибыль в будущем. Как правило, компании роста не платят дивиденды и
                            направляют всю прибыль на развитие. Для поиска подходящих бумаг нужно хорошо разбираться в
                            трендах, чтобы определять потенциально прибыльные направления. При выборе любой стратегии
                            следует ориентироваться на длительные цели. Как правило, чем короче период, на который
                            приобретаются акции, тем выше риски.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="feedback__block">
                <h4 class="feedback__block-title">Как снизить риски?</h4>
                <div class="feedback__block-content">
                    <div class="feedback__block-inner">
                        <h5 class="feedback__block-subtitle">Желательно придерживаться диверсификации портфеля</h5>
                        <div class="feedback__block-info">
                            <h6 class="feedback__block-subtitle2">Диверсификация — вложение  денежных средств в
                                неодинаковые
                                виды активов </h6>
                            <p class="feedback__block-text">
                                Основной способ минимизации рисков при инвестировании в акции компаний — это вложение
                                денежных средств в разные виды активов, или диверсификация. Когда в портфеле много
                                бумаг, и
                                одна из них начинает падать, просадку могут нивелировать другие. Сторонниками этого
                                подхода
                                были многие известные инвесторы.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="feedback__reviews reviews" id="element3">
            <div class="reviews__slider swiper-container">
                <div class="reviews__slider-inner swiper-wrapper">
                    <div class="reviews__slide swiper-slide">
                        <div class="reviews__img-wrapper">
                            <img class="reviews__img" src="images/profile.png" alt="image">
                        </div>
                        <div class="reviews__content">
                            <p class="reviews__text">
                                Торгую через брокера Сбербанка с 2016 года. Меня все устраивает. Вполне прилич&shy;ный
                                брокер. По
                                крайней мере проблем с выводами и зачислениями не случалось. Система конечно иногда
                                подвисает, но думаю, что это связано с часами повышенной волатильности на рынке. В
                                общем,
                                нормальный брокер, рекомендую.
                            </p>
                            <div class="reviews__name">Алексей Горный</div>
                        </div>
                    </div>
                    <div class="reviews__slide swiper-slide">
                        <div class="reviews__img-wrapper">
                            <img class="reviews__img" src="images/profile.png" alt="image">
                        </div>
                        <div class="reviews__content">
                            <p class="reviews__text"> Торгую через брокера Сбербанка с 2016 года. Меня все устраивает.
                                Вполне прилич&shy;ный брокер. По крайней мере проблем с выводами и зачислениями не
                                случалось.
                                Система конечно иногда подвисает, но думаю, что это связано с часами повышенной
                                волатильности на рынке. В общем, нормальный брокер, рекомендую.
                            </p>
                            <div class="reviews__name">Алексей Горный</div>
                        </div>
                    </div>
                    <div class="reviews__slide swiper-slide">
                        <div class="reviews__img-wrapper">
                            <img class="reviews__img" src="images/profile.png" alt="image">
                        </div>
                        <div class="reviews__content">
                            <p class="reviews__text"> Торгую через брокера Сбербанка с 2016 года. Меня все устраивает.
                                Вполне прилич&shy;ный брокер. По крайней мере проблем с выводами и зачислениями не
                                случалось.
                                Система конечно иногда подвисает, но думаю, что это связано с часами повышенной
                                волатильности на рынке. В общем, нормальный брокер, рекомендую.
                            </p>
                            <div class="reviews__name">Алексей Горный</div>
                        </div>
                    </div>
                    <div class="reviews__slide swiper-slide">
                        <div class="reviews__img-wrapper">
                            <img class="reviews__img" src="images/profile.png" alt="image">
                        </div>
                        <div class="reviews__content">
                            <p class="reviews__text">Торгую через брокера Сбербанка с 2016 года. Меня все устраивает.
                                Вполне прилич&shy;ный брокер. По крайней мере проблем с выводами и зачислениями не
                                случалось.
                                Система конечно иногда подвисает, но думаю, что это связано с часами повышенной
                                волатильности на рынке. В общем, нормальный брокер, рекомендую. </p>
                            <div class="reviews__name">Алексей Горный</div>
                        </div>
                    </div>
                </div>
                <div class="reviews__controls">
                    <div class="reviews__arrows">
                        <div class="swiper-button-prev-reviews"></div>
                        <div class="swiper-button-next-reviews"></div>
                    </div>
                    <div class="swiper-pagination-reviews"></div>
                </div>
            </div>
        </div>
    </div>
</section>