<header class="header">
    <div class="header__top">
        <div class="header__menu-btn"></div>
        <a class="header__logo" href="./">
            <img src="images/logo.png" alt="logotype">
        </a>
        <nav class="header__menu menu">
            <a class="menu__link" href="#element1">Что мы предлагаем</a>
            <a class="menu__link" href="#element2"> как начать инвестировать</a>
            <a class="menu__link" href="#element3"> Отзывы</a>
            <a class="menu__link" href="#element4"> Контакты</a>
        </nav>
        <form class="header__form" action="./">
            <input type="text" placeholder="Поиск">
            <input type="submit" value="">
        </form>
        <a class="header__btn" href="#">сберБанк онлайн</a>
    </div>
    <div class="container">
        <div class="header__content">
            <h1 class="header__title">Инвестиции в акции сегодня – <span>гарантия</span> <br> в уверенное будущее</h1>
            <h3 class="header__subtitle">Для семьи, Для бизнеса и Для тебя</h3>
            <button class="header__btn-view " data-video-id="Wvs5KlhWxgI"></button>
            <a class="header__button button" href="#">Открыть счет</a>
            <a class="header__button" href="#">получить консультацию</a>
        </div>
    </div>
    <div class="header__bottom">
        <a class="header__scroll" href="#form">Прокрутите вниз</a>
        <ul class="header__social">
            <div class="header__social-item">
                <a class="header__social-youtube" href="#"></a>
            </div>
            <div class="header__social-item">
                <a class="header__social-telegram" href="#"></a>
            </div>
            <div class="header__social-item">
                <a class="header__social-whatsapp" href="#"></a>
            </div>
        </ul>
    </div>
</header>