<section class="invest">
    <div class="invest__benefits">
        <div class="container">
            <h2 class="invest__title title">Какие <span> преимущества</span> инвестиций в акции?</h2>
            <div class="invest__items">
                <div class="invest__item">
                    <img class="invest__item-icon invest__item-icon_decline" src="images/ic-decline.svg" alt="icon">
                    <h3 class="invest__item-title">Снижение рисков</h3>
                    <div class="invest__item-text">Приобретения акций компаний, кото&shy;рые производят
                        востребованную
                        про&shy;дукцию, в перспективе могут вернутся к выпла&shy;там, от которых сегодня
                        отказы&shy;ваются.</div>
                </div>
                <div class="invest__item">
                    <img class="invest__item-icon invest__item-icon_protection" src="images/ic-protection.svg"
                        alt="icon">
                    <h3 class="invest__item-title">Защита от инфляции и заработок</h3>
                    <div class="invest__item-text">Бумаги сильно подешевели из-за геополитики и санкций.</div>
                </div>
                <div class="invest__item">
                    <img class="invest__item-icon invest__item-icon_profit" src="images/ic-profit.svg" alt="icon">
                    <h3 class="invest__item-title">Потенциально принесут доходность – 20% и больше</h3>
                    <div class="invest__item-text">Рост котировок в обозримом будущем составит 20%, 30%, а то и
                        больше.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="inves__start start" id="element2">
        <div class="container">
            <div class="start__inner">
                <h2 class="start__title title"><span>Как начать </span>инвестиро&shy;вать в акции?</h2>
                <div class="start__content">
                    <h3 class="start__content-title">Мы стремимся заботиться о вас.</h3>
                    <div class="start__content-text">Начать инвестировать достаточно просто. Сбербанк позиционирует свой
                        сервис на
                        широкую гамму инвесторов — от новичков, до профессионалов рынка с высокой квалификацией. Для
                        начала
                        работы нужно быть клиентом «Сбербанка», иметь в наличии дебетовую банковскую карту и желание
                        зарабатывать. Инвестиционные операции совершаются на специальных счетах, для начала следует
                        открыть
                        брокерский счет в «Сбербанк Онлайн».</div>
                </div>
            </div>
            <div class="start__inner">
                <h3 class="start__subtitle">Принципы работы приложений и ресурсов для инвестора</h3>
                <div class="start__items">
                    <div class="start__item">
                        <h3 class="start__item-title">Просто</h3>
                        <div class="start__item-text">Откройте бро&shy;кер&shy;ский счет бесплатно в СберБанк Онлайн
                        </div>
                    </div>
                    <div class="start__item">
                        <h3 class="start__item-title">Удобно</h3>
                        <div class="start__item-text">Используйте гото&shy;вые решения в мобильном прило&shy;жении
                            СберБанк
                            Инвестор
                        </div>
                    </div>
                    <div class="start__item">
                        <h3 class="start__item-title">Доступно</h3>
                        <div class="start__item-text">Начните с неболь&shy;шой суммы, основ&shy;ные инструменты доступны
                            от 1000
                            ₽.
                        </div>
                    </div>
                </div>
            </div>
            <div class="start__inner start__inner_null">
                <h3 class="start__subtitle">Пошаговая инструкция</h3>
                <div class="start__box-items">
                    <div class="start__box-item">
                        <div class="start__box-content">
                            <div class="start__box-num">01</div>
                            <div class="start__box-step">Откройте брокерский счет в СберБанк Онлайн</div>
                            <div class="start__box-note">Это бесплатно</div>
                        </div>
                        <div class="start__box-arrow"></div>
                    </div>
                    <div class="start__box-item">
                        <div class="start__box-content">
                            <div class="start__box-num">02</div>
                            <div class="start__box-step">Переведите на счет деньги в СберБанк Онлайн</div>
                            <div class="start__box-note">Без комиссии</div>
                        </div>
                        <div class="start__box-arrow"></div>
                    </div>
                    <div class="start__box-item">
                        <div class="start__box-content">
                            <div class="start__box-num">03</div>
                            <div class="start__box-step">Установите приложение СберБанк Инвестор</div>
                            <div class="start__box-note">Покупайте акции и следите за результатами онлайн</div>
                        </div>
                        <div class="start__box-arrow"></div>
                    </div>
                    <div class="start__box-item start__box-item_btn">
                        <a class="start__box-button" href="#">
                            Стать инвестором
                        </a>
                    </div>
                </div>
            </div>
            <img class="start__qr-img" src="images/qr-code.jpg" alt="qr-code">
            <div class="start__qr-note">Для скачивания мобильного приложения «СберБанк Онлайн», наведите камеру
                телефона. </div>

        </div>
    </div>
</section>