<section class="offer" id="element1">
    <div class="container">
        <div class="offer__inner">
            <h2 class="offer__title title"><span>Что </span>мы предлагаем?</h2>
            <div class="offer__content">
                <h3 class="offer__subtitle">Удобный сервис «Сбербанк Инвестиции».</h3>
                <p class="offer__text">Инвестиции в Сбербанке – это вло&shy;же&shy;ния ваших собственных средств с
                    ожиданием
                    их
                    дальней&shy;шей отдачи, или принесения прибыли. </p>
                <p class="offer__text">«Сбербанк Инвестиции» – это проду&shy;манный сервис, который берет на себя
                    управление
                    вашими вложени&shy;ями и
                    помогает собрать наиболее доходный портфель на индивиду&shy;аль&shy;ные инвести&shy;ционные цели.
                    Электронный
                    ресурс
                    настроен с учетом параметров инвестицион&shy;ного управления, разработанных нобелевскими лауреатами.
                </p>
            </div>
        </div>
        <div class="offer__slider">
            <div class="offer__slider-inner swiper-container">
                <div class="swiper-wrapper">
                    <div class="offer__slide swiper-slide">
                        <h3 class="offer__slide-title">Промежуточный вид инвестирования</h3>
                        <p class="offer__slide-text">
                            Готовые инвестиционные решения можно считать промежуточным видом инвестирования между
                            самос&shy;тоятельной торговлей и доверитель&shy;ным управлением. Разнообразие таких решений
                            позволяет
                            инвестору вкладывать средства в различные активы, выбирать уровень доход&shy;ности, сроки и
                            даже
                            степень риска.
                        </p>
                        <a class="offer__button button" href="#">Узнать подробнее</a>
                    </div>
                    <div class="offer__slide swiper-slide">
                        <h3 class="offer__slide-title">Консервативная и сбалансированная стратегия</h3>
                        <p class="offer__slide-text">
                            Защита капитала — механизм, кото&shy;рый позволяет инвестору вернуть вложенные средства по
                            окончании
                            срока инвестирования.
                            Финансовые инструменты с защитой капитала являются важной составляющей
                            кон&shy;сер&shy;вативной и
                            сбалансированной стратегий.
                        </p>
                        <a class="offer__button button" href="#">Узнать подробнее</a>
                    </div>
                    <div class="offer__slide swiper-slide">
                        <h3 class="offer__slide-title">Торгуйте на фондовом рынке самостоятельно </h3>
                        <p class="offer__slide-text">
                            Приобретайте акции, облигации, ETF и прочие инструменты на Москов&shy;ской бирже.
                            Определяйте стратегию самостоятельно или пользуйтесь идеями аналитиков.
                        </p>
                        <a class="offer__button button" href="#">Узнать подробнее</a>
                    </div>
                    <div class="offer__slide swiper-slide">
                        <h3 class="offer__slide-title">Недоступные финансовые инструменты обычным инвесторам
                        </h3>
                        <p class="offer__slide-text">
                            Статус квалифицированного инвес&shy;тора позволяет использовать финан&shy;совые инструменты,
                            недос&shy;туп&shy;ные
                            обычным инвесторам. Например, акции инвестиционных фондов (ETF), которые не допущены к
                            торгам на
                            российских биржах.
                        </p>
                        <a class="offer__button button" href="#">Узнать подробнее</a>
                    </div>
                </div>
            </div>
            <div class="offer__pagination swiper-pagination-bullets"></div>
            <div class="offer__arrows">
                <div class="swiper-button-prev-unique"></div>
                <div class="swiper-button-next-unique"></div>
            </div>
        </div>
    </div>
</section>