.swiper-pagination-reviews {
	$self: &;

	@include media ("<=sm") {
		order: 1;
	}

	@include media ("<=xxs") {
		order: 2;
	}

	.swiper-pagination-current {
		color: #000;
		font-size: 22px;
		line-height: 32px;
		font-weight: 700;
		margin-right: 15px;

		&::before {
			content: "0";
		}



		// &:nth-of-type(n):before {
		// 	background: #f00;
		// }

	}

	.swiper-pagination-total {
		font-size: 22px;
		line-height: 32px;
		font-weight: 700;
		margin-left: 15px;

		&::before {
			content: "0";
		}
	}

	// span:nth-child(n + 10):before {
	// 	content: "";
	// }
}